body{
    height: 100vh;
    background-color: red;
}
#d-flex{overflow-x: hidden;
 height: 80vh;
 align-items: center;
 display: flex;
 justify-content: center;
 /* background-color: #b3cdd1;
 background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c1 74%); */
 
 
 flex-direction: column;
 position: relative;
 overflow: hidden;
 
}
/* background design below code */

#d-flex::after{
    position: absolute;
    content: "";
    background-color: #c2c2c2c9;
background-image: linear-gradient(315deg, #52a6ce 0%, 315deg, #816f6fdc 74%);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transform: translate(290px,105px);
    z-index: 0;
  }
  #d-flex::before{
    position: absolute;
    content: "";background-color: #f1dfd1;
    background-image: linear-gradient(315deg, #d6d6d6c9 0%, #f6f0ea 74%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: translate(-290px,-180px);
    z-index: 0;
  }
  @media only screen and (max-width: 600px) {
    #d-flex::after{
      height: 250px;
      width: 250px;
      transform: translate(160px,100px);
    }
    #d-flex::before{
      height: 200px;
      width: 200px;
      transform: translate(-210px,-200px);
    }
  }
/* end background design */
#d-flex h1{
 color: rgb(0, 0, 0);
 text-align: center;
 margin-bottom: 10px;
 font-size: 20px;
 background: transparent;
 min-width: 400px;
 min-height: 40px;
 line-height: 40px;
 border: 1px solid black;
 box-shadow: 2px 2px 5px black;
 z-index: 10;
}
#d-flex h1.darkmode{
    color: white;
    border: 1px solid white;
    z-index: 10;
}
#d-flex #slidermainbox{
    z-index: 10;
}
#d-flex #slider{
    height: 260px;
    width: 500px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    animation: anima1 3s linear ;
    margin: 5px 0px;
    overflow: hidden;
    z-index: 10;
}
#d-flex img{
    overflow: hidden;
    height: 400px;
    width: 400px;
    min-width: 400px;
    border-radius: 8px;
    margin: 0px 10px;
    padding: 5px;
    animation: anima1 3s linear ;
    box-shadow: 0px 0px 3px black;
    border-radius: 10px;
    transition: 3s;
    z-index: 10;
    /* transform: scale(1); */
}
@keyframes anima1 {
    0%{
        opacity: 0.8;
        transform: rotate(180deg);
        /* transform: scale(0.5); */
    }
    
    100%{
        /* transform: scale(0.5); */
        opacity: 1;
        transform: rotate(0deg);
    }
}
.btns
{
  z-index: 10;
    height: 50px;
    min-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns button{
    color: black;
    padding: 5px 15px ;
    margin: 0px 4px;
    border-radius: 10px;
}
.btns button:hover{
background: rgba(30, 30, 31, 0.945);
color: white;
}